

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo.key%>);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<%# Aprovecho las asociaciones de doses, con el id busco los ingredients %>
<div class="container w-25">
  <h2 class="text-center mt-4">Ingredients:</h2>
  <% @cocktail.doses.each do |dose| %>
    <div class="d-flex justify-content-between">
      <p class="mb-1"><%= Ingredient.find(dose.ingredient_id).name %></p>
      <p><%= dose.description %></p>
      <p><%= link_to "(Delete)", dose_path(dose.id), method: :delete, data: { confirm: "Are you sure?" } %></p>
    </div>
  <% end %>
  <strong class="mx-auto"> <%= link_to 'Add new ingredient', new_cocktail_dose_path(@cocktail.id) %> </strong>
  <br>
  <small class="text-center"><%= link_to "Back to list", cocktails_path %></small>
</div>



